<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Programación Web/PetShop 2.0/CSS/Style.css">
    <title>Paradise PetShop/Author</title>
</head>
<body>
    <header>
        <p class="name">Paradise PetShop</p>
        <input type="checkbox" name="" class="btn"/>
        <div class="nav">
            <ol>
                <li><a href="https://www.google.com/" target="_blank">Home</a></li>
                <li><a href="Index.html" target="_self">Start</a></li>
                <li><a href="AboutMe.html" target="_self">About</a></li>
                <li><a href="Perros.html" target="_self">Dogs</a></li>
                <li><a href="Gatos.html" target="_self">Cats</a></li>
                <li><a href="Articulos.html" target="_self">Products</a></li>
            </ol>
        </div>
    </header>
    <main>
        <br>
        <div class="relleno">
            <div class="nav">
                <h2 class="acerca">About Developer</h2>
            </div>
        </div>
        <br>
        <div class="info">
            <p >
                Mi nombre es Juan Carlos Neíl Palacios Escobar tengo 18 años de edad y soy de Mazatenango. <br>
                Soy estudiante de Ingeniería en Ciencias de la Computación.
                Actualmente soy Desarrollador FrontEnd con manejador de Frameworks como <br>
                <ol>
                    <li>React js</li>
                    <li>Ajax</li>
                    <li>Bootstrap</li>
                    <li>Sass</li>
                </ol>
            </p>
        </div>
        <br>
        <img class="Me" src="./../../ASSETS/Images/284227571_2156998444460880_963193743174882189_n.jpeg" alt="">
        <br>
        <div class="relleno">
            <div class="nav">
                <h2 class="acerca">Redes Sociales</h2>
                <input type="checkbox" name="" class="btn"/>
                <ol>
                    <li><a href="https://github.com/JuanK-2003" target="_blank">GitHub</a></li>
                    <li><a href="https://www.instagram.com/juank_003/?theme=dark" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100004522368573" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/Juank_10_2003" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/juan-carlos-palacios-9ba8311b7/" target="_blank">LinkedIn</a></li>
                </ol>
            </div>
        </div>
    </main>
    <footer class="social">
        <a title="Click para chatear" href="https://api.whatsapp.com/send?phone=50249503162&text=Me%20gustaría%20saber%20sobre%20promociones%20del%20PetShop" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/WhatsApp.svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://www.facebook.com" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Facebook_f_logo_(2019).svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://twitter.com/?lang=en" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Twitter-logo.svg.png" width="5%">
        </a>
        <h3 class="author"> © Derechos Reservados JuanK003 -- 2022 </h3>
    </footer>
</body>
</html>