<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Programación Web/PetShop 2.0/CSS/Style.css">
    <title>Paradise PetShop/Cats</title>
</head>
<body>
    <header>
        <p class="name">Paradise PetShop</p>
        <input type="checkbox" name="" class="btn"/>
        <div class="nav">
            <ol>
                <li><a href="https://www.google.com/" target="_blank">Home</a></li>
                <li><a href="Index.html" target="_self">Start</a></li>
                <li><a href="AboutMe.html" target="_self">About</a></li>
                <li><a href="Perros.html" target="_self">Dogs</a></li>
                <li><a href="Articulos.html" target="_self">Products</a></li>
                <li><a href="Author.html" target="_self">Copyrigth</a></li>
            </ol>
        </div>
    </header>
    <main>
        <br>
        <div class="relleno">
            <div class="nav">
                <h1 id="Return" class="name2">Menus de Gatos</h1>
                <input type="checkbox" name="" class="btn"/>
                <ol>
                    <li><a href="#Per"> Persa</a></li>
                    <li><a href="#Sib"> Siberiano</a></li>
                    <li><a href="#Esf"> Esfinge</a></li>
                </ol>
            </div>
        </div>
        <section>
            <br>
            <h2 class="subtitulo"> Gatos </h2>
            <article>
                <h3 class="menus"> Razas de Gatos </h3>
                <ol>
                    <li>
                        <article id="Per">
                            <h2>Gatos Persa</h2>
                            <p class="textos">
                                El persa de pelo largo es un gato fornido de tamaño mediano con una cabeza muy grande en proporción a su cuerpo. <br>
                                Tiene la cabeza redondeada y ancha, las orejas pequeñas y separadas, y la cara corta y despejada. 
                                Los ojos son grandes y redondos y tienen un color vivo. <br>
                                Las patas son cortas, gruesas y fuertes, con zarpas grandes y redondeadas y dedos copetudos. La cola es corta y tupida. <br>
                                El pelaje es largo, grueso y exuberante, con una capa interna densa y suave El persa presenta una gran variedad de patrones y colores.<br>
                                El persa de pelo largo es tranquilo y cariñoso. Es apacible y no tan activo como algunas razas de pelo corto. <br>
                                En general, no le importa vivir solo y se muestra bastante contento de ser gato único. Le basta con estar sentado tranquilo y tener buen aspecto. <br>
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="persa" src="/Programación Web/PetShop/ASSETS/Images/image.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/4_itl3AAr0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </li>
                    <li>
                        <article id="Sib">
                            <h2>Gato Siberiano</h2>
                            <p class="textos">
                                Los gatos de esta raza rusa se caracterizan por ser de gran tamaño, con un cuerpo adaptado a las duras condiciones climáticas del Sur de Siberia, región que les da nombre. <br> Este gato corpulento posee un pelaje mucho más denso en invierno que en verano, pero igual de cautivador en cualquier época del año. <br>
                                El Siberiano es un gato originario del Sur de Siberia, surgido de cruce entre gatos salvajes que habitan la región y gatos domésticos. <br> A finales de los años 80, una pareja de criadores importó de San Petersburgo los primeros Siberianos para inaugurar su programa de cría en Alemania. <br> En 1990 los primeros Siberianos llegaron a Estados Unidos, donde fueron reconocidos como raza 8 años más tarde por la TICA. <br>
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="siberiano" src="/Programación Web/PetShop/ASSETS/Images/9f093f18c99ef4b6f704cadd2348faa5.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/PPJq4wFG39U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </li>
                    <li>
                        <article id="Esf">
                            <h2>Gato Esfinge</h2>
                            <p class="textos">
                                Famoso por su ausencia de pelo, el esfinge es también amable, cariñoso y enérgico, siempre ansioso del afecto humano. <br> En contraste con su aspecto regio y su expresión seria, el esfinge es un payaso acróbata que no se toma a sí mismo muy en serio. <br> Le encanta entretener y divertir a sus humanos y te seguirá por toda la casa como un perrito.  <br> Si estás pensando en adoptar un esfinge, sigue leyendo para averiguar todo lo que necesitas saber. <br>
                                El esfinge es un gato de tamaño mediano con una apariencia muy llamativa por su ausencia de pelo, piel arrugada y largas orejas. <br> Tiene un cuerpo liso y musculoso que es muy compacto y pesado para su tamaño.
                                Esta raza es de tramaño mediano pero bien musculada. <br>
                                Su cabeza es triangular con los ojos separados y pómulos prominentes, lo que recuerda a los gatos del antiguo Egipto, de ahí su nombre. <br>  Además de no tener pelo, la característica más destacable del esfinge son sus orejas largas y triangulares que recuerdan a las de los murciélagos.
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="esfinge" src="/Programación Web/PetShop/ASSETS/Images/4.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/v1k-bS4o5Fg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </li>
                </ol>
            </article>
    </main>
    <footer class="social">
        <a title="Click para chatear" href="https://api.whatsapp.com/send?phone=50249503162&text=Me%20gustaría%20saber%20sobre%20promociones%20del%20PetShop" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/WhatsApp.svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://www.facebook.com" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Facebook_f_logo_(2019).svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://twitter.com/?lang=en" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Twitter-logo.svg.png" width="5%">
        </a>
        <h3 class="author"> © Derechos Reservados JuanK003 -- 2022 </h3>
    </footer>
</body>
</html>