<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Programación Web/PetShop 2.0/CSS/Style.css">
    <title>Paradise PetShop/Start</title>
</head>
<body>
    <header>
        <p class="name">Paradise PetShop</p>
        <input type="checkbox" name="" class="btn"/>
        <div class="nav">
            <ol>
                <li><a href="https://www.google.com/" target="_blank">Home</a></li>
                <li><a href="AboutMe.html" target="_self">About</a></li>
                <li><a href="Perros.html" target="_self">Dogs</a></li>
                <li><a href="Gatos.html" target="_self">Cats</a></li>
                <li><a href="Articulos.html" target="_self">Products</a></li>
                <li><a href="Author.html" target="_self">Copyrigth</a></li>
            </ol>
        </div>
    </header>
    <main>
        <img class="logo" src="/Programación Web/PetShop 2.0/ASSETS/Images/logo_black-1.png" alt="">
    </main>
    <footer class="social">
        <a title="Click para chatear" href="https://api.whatsapp.com/send?phone=50249503162&text=Me%20gustaría%20saber%20sobre%20promociones%20del%20PetShop" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/WhatsApp.svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://www.facebook.com" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Facebook_f_logo_(2019).svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://twitter.com/?lang=en" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Twitter-logo.svg.png" width="5%">
        </a>
        <h3 class="author"> © Derechos Reservados JuanK003 -- 2022 </h3>
    </footer>
</body>
</html>