<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Programación Web/PetShop 2.0/CSS/Style.css">
    <title>Paradise PetShop/Dogs</title>
</head>
<body>
    <header>
        <p class="name">Paradise PetShop</p>
        <input type="checkbox" name="" class="btn"/>
        <div class="nav">
            <ol>
                <li><a href="https://www.google.com/" target="_blank">Home</a></li>
                <li><a href="Index.html" target="_self">Start</a></li>
                <li><a href="AboutMe.html" target="_self">About</a></li>
                <li><a href="Gatos.html" target="_self">Cats</a></li>
                <li><a href="Articulos.html" target="_self">Products</a></li>
                <li><a href="Author.html" target="_self">Copyrigth</a></li>
            </ol>
        </div>
    </header>
    <main>
        <br>
        <div class="relleno">
            <div class="nav">
                <h1 id="Return" class="name2">Menus de perros</h1>
                <input type="checkbox" name="" class="btn"/>
                <ol>
                    <li><a href="#CHI"> Chihuahua</a></li>
                    <li><a href="#PA"> Pastor Aleman</a></li>
                    <li><a href="#FREN"> French Puddle</a></li>
                </ol>
            </div>
        </div>
        <section>
            <br>
            <h2 class="subtitulo"> Perros </h2>
            <article>
                <h1 class="menus"> Razas de Perros </h1>
                <ol>
                    <li>
                        <article id="CHI">
                            <h2>Chihuahua</h2>
                            <p class="textos">
                                Los Chihuahua pesan entre 1 y 3 kg y tienen una altura de tan solo 15 cm. <br>
                                Los chihuahuas tienen el cráneo abombado y algunos tienen una zona blanda en la parte superior de la cabeza en la que no se han unido los huesos, hendidura que se conoce como mollera. <br>
                                Tienen unas grandes orejas erguidas y hocico corto y afilado. <br>
                                Sus ojos son redondos y grandes. Estos perros son ligeramente más largos que altos y tienen una cola bastante larga que llevan levantada sobre la espalda, pueden ser muy fieles a una persona. <br>
                                Debido a su tamaño y constitución frágil, es importante asegurarse de enseñar a los niños cómo manejarlos correctamente. <br>
                                Su temperamento puede variar drásticamente, y algunos son particularmente difíciles de entrenar. <br>
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="chihuahua" src="/Programación Web/PetShop/ASSETS/Images/Nombres-para-perras-chihuahuas.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/uFKY1PoW7EU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>                        
                    </li>
                    <li>
                        <br><br><br><br>
                        <article id="PA">
                            <h2>Pastor Aleman</h2>
                            <p class="textos">
                                Los Pastores alemanes son una de las razas más reconocibles del mundo. <br>
                                Tienen un aspecto musculoso y atento y una actitud noble y distante. <br>
                                Son perros ágiles y bien equilibrados de porte orgulloso. <br>
                                Su pelaje puede presentar varios colores (consulta el estándar de la raza) y están formados por un manto superior duro, áspero y lacio, y un manto inferior grueso. <br>
                                La altura ideal del macho adulto es de 63 cm y la de la hembra, 58 cm. El peso puede estar entre 30 y 36 kg. <br>
                                Los Pastores alemanes son una de las razas más reconocibles del mundo. Tienen un aspecto musculoso y atento y una actitud noble y distante. <br>
                                Son perros ágiles y bien equilibrados de porte orgulloso. <br>
                                Su pelaje puede presentar varios colores (consulta el estándar de la raza) y están formados por un manto superior duro, áspero y lacio, y un manto inferior grueso. <br>
                                La altura ideal del macho adulto es de 63 cm y la de la hembra, 58 cm. El peso puede estar entre 30 y 36 kg.
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="pastor" src="/Programación Web/PetShop/ASSETS/Images/14379_flip_title.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/FpHsgeCD-0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </li>
                    <li>
                        <article id="FREN">
                            <h2>French Poodle</h2>
                            <p class="textos">
                                Los French Poodle son perros muy activos y listos, de hecho son considerados una de las razas de perros más inteligentes. <br>
                                Se clasifican en 3 variedades según su tamaño: Toy Poodle, Minuature Poodle y Standard Poodle. <br>
                                Aunque la <a href="https://www.fci.be/es/" target="_blank">FCI (Fédération Cynologique Internationale)</a> reconoce cuatro variedades: Toy, Miniature, Medium y Standard. <br>
                                También, existen gran variedad de cortes para poodles de exposición, entre ellos el continental, silla inglesa, deportivo, holandés e inclusive de cachorro. <br>
                                Son perros leales, amigables y juguetones, muy inteligentes y sociales, lo que se evidencia en su facilidad para entrenamiento. <br>
                            </p>
                            <div class="relleno2">
                                <div class="nav">
                                    <input type="checkbox" name="" class="btn"/>
                                    <ol>
                                        <a href="#Return">Regresar</a>
                                    </ol>
                                </div>
                            </div>
                            <img class="french" src="/Programación Web/PetShop/ASSETS/Images/White-Poodle-PNG-Clipart.png" alt="">
                            <br>
                            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/CJZgj7K28Xs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </li>
                </ol>
            </article>
        </section>
    </main>
    <footer class="social">
        <a title="Click para chatear" href="https://api.whatsapp.com/send?phone=50249503162&text=Me%20gustaría%20saber%20sobre%20promociones%20del%20PetShop" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/WhatsApp.svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://www.facebook.com" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Facebook_f_logo_(2019).svg.png" width="5%">
        </a>
        <a title="Click para chatear" href="https://twitter.com/?lang=en" target="_blank" rel="noopener">
            <img src="./../../ASSETS/Images/Twitter-logo.svg.png" width="5%">
        </a>
        <h3 class="author"> © Derechos Reservados JuanK003 -- 2022 </h3>
    </footer>
</body>
</html>